<library path="lib/librescuer_project">
  <class name="rescuerGUI" type="rescuer_project::Rescuer_gui" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      The GUI of the rescuer project
    </description>
    <qtgui>
      <label>GUI for rescuer</label>
      <icon type="theme">system-help</icon>
      <statustip>GUI for the rescuer project</statustip>
    </qtgui>
  </class>
</library>
