<launch>
        <arg name="droneip" default="192.168.1.1" />
        <node name="ardrone_driver" pkg="ardrone_autonomy" type="ardrone_driver" output="screen" args="-ip $(arg droneip)">
                <param name="navdata_demo" value="True" />
                <param name="realtime_navdata" value="True" />
                <param name="realtime_video" value="True" />
                <param name="looprate" value="30" />                
                <param name="detect_type" value="4" />
                <param name="detections_select_h" value="128" />
                <param name="detections_select_v" value="0" />
        </node>
</launch>
