<launch>
        <arg name="droneip" default="192.168.1.1" />
        <node name="ardrone_driver" pkg="ardrone_autonomy" type="ardrone_driver" output="screen" clear_params="true" args="-ip $(arg droneip)">
                <!-- GENERAL -->
                <param name="navdata_demo" value="1" />
                <!-- CONTROL -->
                <param name="outdoor" value="0"/>
                <param name="flight_without_shell" value="0"/>
                <!-- NETWORK -->
                <!-- VIDEO -->
                <!-- LED -->
                <!-- DETECTION -->
                <param name="detect_type" value="3" />
                <param name="detections_select_h" value="0" />
                <!-- CUSTOM -->
                <param name="application_desc" value="SMM AR Drone" />
        </node>
</launch>
